DEBUG="TRUE"

# "postgresql" or "sqlite"
DB_ENGINE="sqlite"

POSTGRES_HOST="pgdb"
POSTGRES_PORT="5432"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="postgres"

SECRET_KEY="asdjflaads123skdjf"
JWT_SECRET="euwrqowuroqwieurp"

TELEGRAM_BOT_USERNAME="dev_booster_bot"
TELEGRAM_BOT_TOKEN="0123456789:abcdefghijklmnopqrstuvwxyz"
