body {
    margin: 0;
    background: #ddd;
}

.header {
    box-sizing: border-box;
    height: 100px;
    border-bottom: 1px solid #bbb;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    font-family: Arial;
    font-size: 20pt;
}

.header nav {
    display: flex;
    align-items: center;
}

.header nav a {
    color: white;
    text-decoration: none;
    font-size: 15pt;
    margin: 0 10px;
}

.header nav .auth-login {
    appearance: none;
    text-decoration: none;
    font-size: 15pt;
    margin: 0 10px;
    background: #444;
    margin: 0;
    padding: 10px 20px;
    border-radius: 7px;
    border: 0 solid #0000;
    margin-left: 20px;
    cursor: pointer;
}

.header nav a:hover {
    color: #eee;
}

.main-block {
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 2rem;
}
