{% extends 'base.html' %}

{% block content %}


<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <div class="card-title mb-3">
                <h4>Тесты</h4>
            </div>
                    {% for test in tests %}
                      <div class="album py-5 bg-body-tertiary">
                        <div class="container">
                          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div class="col">
                              <div class="card shadow-sm">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Это тест" preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <title>Placeholder</title>
                                    <rect width="100%" height="100%" fill="#55595c"></rect>
                                    <text x="25%" y="50%" fill="#eceeef" dy=".3em">Это как тест видит студент!</text>
                                </svg>
                                <div class="card-body">
                                  <p class="card-text">{{ test.name }}</p>
                                  <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                      <a href={% url 'tests.info' test.id %} role="button" class="btn btn-sm btn-outline-secondary highlight-button">Подробнее</a>
                                    </div>
                                    <small class="text-body-secondary">ID: {{ test.id }}</small>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
        </div>
    </div>
</div>
    <style>
        .highlight-button {
            background-color: #0D6EFD;
            color: white;
        }
        .highlight-button:hover {
            background-color: #0B5ED7;
            color: white;
        }
    </style>

{% endblock content %}