<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Booster</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href={% static 'favicon.png' %}>
    <link rel="stylesheet" href={% static 'assets/css/main.css' %}>
</head>
<body>
    <header class="header">
        <div>
            <span>TestBooster</span>
        </div>
        <nav>
            <a href={% url 'index' %}>Главная</a>
            <a href={% url 'tests' %}>Тесты</a>
            <button class="auth-login">Войти</button>
        </nav>
    </header>
    {% block content %}{% endblock content %}

    <script id="config" type="application/json">
        {
            "VK_APP_ID": "{{ VK_APP_ID }}",
            "VK_REDIRECT_URL": "{{ VK_REDIRECT_URL }}"
        }
    </script>
    <script src="https://unpkg.com/@vkid/sdk@2.4.1/dist-sdk/umd/index.js"></script>
    <script src={% static '/assets/js/lib/jquery.js' %}></script>
    <script src={% static 'assets/js/auth.js' %}></script>
</body>
</html>