<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Booster</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href={% static 'favicon.png' %}>
    <link rel="stylesheet" href={% static 'assets/css/main.css' %}>
</head>
<body>
    <header class="header">
        <div>
            <span>TestBooster</span>
        </div>
    </header>
    <main>
        <h2>Профиль</h2>
        <img src='{{ request.user_info.photo_url }}'>
        <div>
            <p>Имя: {{ request.user_info.first_name }} {{ request.user_info.last_name }}</p>
            <p>Пользователь: {{ request.user_info.username }}</p>
        </div>
    </main>
    <script src={% static '/assets/js/lib/jquery.js' %}></script>
</body>
</html>