{% extends 'base.html' %}

{% load static %}

{% block header %}
    <header class="header">
        <div>
            <span>TestBooster</span>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <main>
        <h2>Профиль</h2>
        {% if request.user_info.photo_url is not null %}
            <img src="{{ request.user_info.photo_url }}">
        {% else %}
            <img src="{% static "anonym-user.png" %}">
        {% endif %}
        <div>
            <p>Имя: {{ request.user_info.first_name }} {{ request.user_info.last_name }}</p>
            <p>Пользователь: {{ request.user_info.username }}</p>
        </div>
        <a role="button" class="btn btn-primary" href="{% url 'tests.list' %}">Тесты</a>
    </main>
    <script src={% static '/assets/js/lib/jquery.js' %}></script>
{% endblock content %}